<section class="dashboard">
  <h2 class="text-center">Your progress</h2>

  <navbar-progress></navbar-progress>

  <div class="container progress-bg rounded-4">
    <div class="d-flex justify-content-center mb-3">
      <div class="input-group mt-4 w-100 w-md-75 w-lg-50 ">
        <input #searchInputElement type="text" class="form-control border border-1 border-black"
          placeholder="Search exercise" aria-label="Search exercise">

        <div class="input-group-append">
          <button class="btn btn-primary" type="button"
            (click)="onSearchExerciseButton(searchInputElement.value)">Search</button>
        </div>

        <button class="btn btn-success btn-sm ms-2 mt-2 mt-sm-0" (click)="openDialog()">
          <i class="fas fa-plus-circle"></i> Add exercise
        </button>
      </div>
    </div>

    <div class="row">
      <card-exercise></card-exercise>
    </div>
  </div>
</section>
