<div class="container mt-4">
  <div class="d-flex align-items-center justify-content-between">
    <div>
      <a href="#" routerLink="/home" routerLinkActive="router-link-active" class="fw-bold">
        <h3 class="m-0">Tracking</h3>
        <h1 class="m-0">Weights</h1>
      </a>

    </div>

    <div *ngIf="authService.userAuthenticationStatus$ | async">
      <a class="btn" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false"><i class="bi bi-gear-fill"></i></a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" (click)="onLogoutButton()">Logout</a>
      </div>
    </div>

  </div>
</div>
