<nav class="navbar navbar-expand-lg navbar-light mb-3">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMuscles"
      aria-controls="navbarMuscles" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarMuscles">
      <ul class="navbar-nav" *ngFor="let muscle of muscleGroups">
        <li class="nav-item">
          <a class="nav-link ps-2" href="#">{{muscle | titlecase }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
